name: Publish Python Package

on:
  push:
    branches:
      - main  # Trigger the workflow on push to the main branch

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'  # Replace with your required Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Update version number
      run: python update_version.py

    - name: Build the package
      run: python setup.py sdist bdist_wheel

    - name: Publish to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI }}
      run: twine upload dist/*

    - name: Cleanup dist folder
      run: rm -rf dist/*

    - name: Commit version bump
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add setup.py
        git commit -m "Bump version number [skip ci]"
        git push https://${{ secrets.GH_TOKEN }}@github.com/OWNER/REPOSITORY.git HEAD:main
